<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" <%= yield :namespaces %>>
<head>
  <%= yield :meta_tags %>
  <meta name="viewport" content="width=800" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <%= stylesheet_link_tag 'lifeline', :media => "all" %>
  <%= yield :stylesheets %>   
  <%= javascript_include_tag :defaults %>
  <%= yield :javascripts %>
  <title><%=page_title()%></title>
</head>