<% set_page_title( "Change Password" ) %>

<h1>Change Password for <%=h(@member.display_name)%></h1>

<%= error_messages_for 'member' %>

<fieldset>
  <% form_for :member, :url  => {:controller=>'members', :action => 'edit_password', :id => @member, :back => @back} do |form| -%>
    
  <table class='form_fields'>

    <% unless (@user.admin? && !@user.tis_himself?(@member)) %>
      <tr>
        <td><label>Old password</label></td>
        <td><%= password_field_tag :old_password, params[:old_password] %> <span class='hint'>For security, please provide your current password.</span></td>
      </tr>
    <% end %>
    
    <tr>
      <td><label>New password</label></td>
      <td> <%= password_field_tag :new_password, params[:new_password] %> <span class='hint'>(Minimum <%= MIN_PASSWORD_LEN %> characters)</span></td>
    </tr>
    
    <tr>
      <td><label>Confirm new password</label></td>
      <td> <%= password_field_tag :new_password_confirmation, params[:new_password_confirmation] %></td>
    </tr>
    
  </table>
  
    <%= submit_tag "Save" %>  <%= cancel_link %>
  <% end -%>
</fieldset>